streamlit
pandas
numpy
scikit-learn
matplotlib
seaborn
wordcloud
spacy
tensorflow
# spaCy English model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
